venv/
__pycache__/
.log/
.idea
.venv
.vscode
.DS_Store
backend/config/secrets.yaml
backend/config/ramboq_logger.yaml
var/www/.ssh/
var/www/.gitconfig
*.pem
*.key
ramboq_ssh/
data/
dump.rdb
frontend/node_modules/
frontend/build/
frontend/.svelte-kit/