:root {
  --font-size-small: 0.8rem;
  --header-footer-bg: #0f172a05; /* Whitemist background*/
  --header-footer-border: 1px solid #0f172a33;
  --main-color: #1e293b;
  --background-color: black;
}
#MainMenu {visibility: hidden;}
header {visibility: hidden;}

.stHorizontalBlock:nth-of-type(2) {
  background-color: var(--header-footer-bg) !important;
  border-bottom: var(--header-footer-border) !important;
  padding-bottom: 15px;
}

.block-container {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 !important;  /* Center the container */
    padding: 0 !important;
    border-left: 1px solid #2c465333;
    border-right: 1px solid #2c465333;
    background-color: white; /* Light cyan background */
    /* Add subtle shadows to left and right borders */
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.06), 4px 0 6px rgba(0, 0, 0, 0.06);
}

/* --- Navbar Buttons (st-key-navbar) --- */
.st-key-nav-button-container button  {
    /* Base styles */
    border-width: 0px !important;
    color: #2c4653 !important;
}

.st-key-logo-container {
margin-left:20px;}

.st-key-footer-container {
  width: 100%;
  max-width: 1200px;
  background-color: var(--header-footer-bg);
  border-top: var(--header-footer-border);
  padding: 0.1rem 0;
  position: fixed;
  bottom: 0;
  z-index: 50;
  margin: 0;
  color: #666;
  text-align: center;
}

.st-key-footer-desktop {
  display: block;
  font-size: 0.8rem;
  text-align: center;
}

.st-key-footer-mobile {
  display: none;
  font-size: 0.75rem;
  text-align: center;
}


/* Layout visibility control */
.st-key-navbar-desktop {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.st-key-mobile-popover {
  display: none;
}


@media screen and (max-width: 768px) {
  .st-key-footer-desktop {
    display: none;
  }
  .st-key-footer-mobile {
    display: block;
  }
  .st-key-navbar-desktop {
    display: none;
  }
  .st-key-mobile-popover {
    display: block;
  }
}
