:root {
  --font-size-small: 0.8rem;
  --header-footer-bg: #0f172a05; /* Whitemist background*/
  --header-footer-border: 1px solid #0f172a33;
  --main-color: #1e293b;
  --background-color: black;
}
#MainMenu {visibility: hidden;}
header {visibility: hidden;}

.stVerticalBlock {
    gap:0rem;
}
.block-container {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 !important;  /* Center the container */
    padding: 0 !important;
    border-left: 1px solid #2c465333;
    border-right: 1px solid #2c465333;
    background-color: white; /* Light cyan background */
    /* Add subtle shadows to left and right borders */
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.06), 4px 0 6px rgba(0, 0, 0, 0.06);
}

/* --- Navbar Buttons (st-key-navbar) --- */
.st-key-nav-button-container button  {
    /* Base styles */
    border-width: 0px !important;
    color: #2c4653 !important;
}


.st-key-logo-container, .st-key-logo-container-1 {
    margin-left:20px;
}



.st-key-navbar-container {
    padding: 15px 15px;
    margin-bottom: 15px;
    gap: 0px;
    border-bottom: 1px solid #ccc;  /* 👇 subtle bottom border */
    background-color: #f8f8f8;      /* 🎨 light gray background */

    /* ✨ Add subtle 3D shadow */
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

/* Layout visibility control */
.st-key-navbar-desktop-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.st-key-navbar-mobile-container {
  display: none;
  gap: 0rem;
  padding:0px;
  margin:0px;
  border-width:1px;
}

.st-key-footer-container {
  width: 100%;
  max-width: 1200px;
  background-color: var(--header-footer-bg);
  border-top: var(--header-footer-border);
  padding: 0.1rem 0;
  gap:0px;
  position: fixed;
  overflow: visible;
  bottom: 0;
  z-index: 50;
  margin: 0;
  color: #666;
  text-align: center;
}

.footer-desktop {
  display: block;
  text-align: center;
}

.footer-mobile {
  display: none;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: block;
  }
  .st-key-navbar-desktop-container {
    display: none;
  }
  .st-key-navbar-mobile-container {
    display: block;
  }
}
.bar {
    color:#007ACC;
}
